@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

/* Estilos Light Mode (padrão) */
body {
    background-color: white;
    color: black;
}

/* Estilos Dark Mode */
html.dark body {
    background-color: #08090b; /* Cor de fundo escura */
    color: white;
}

/* Navbar com gradiente no modo escuro */
html.dark .navbar {
    background: linear-gradient(to right, #101113, #08090b); /* Gradiente escuro */
}

/* Navbar com fundo branco no modo claro */
html:not(.dark) .navbar {
    background-color: #ffffff; /* Fundo branco para o modo claro */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave para o modo claro */
}

/* Estilo de transição de cor de ícones */
html.dark .icon {
    color: white;
}

html:not(.dark) .icon {
    color: #333;
}

/* Botão de Dark Mode */
html:not(.dark) .dark-mode-toggle {
    color: #333;
}

html.dark .dark-mode-toggle {
    color: white;
}
